<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.dform-1.1.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Tabel Candidati</title>
</head>
<body>
<table>
        <tr th:each="entry : ${candidates}">
            <td th:text="${entry.candidate.cnp}"></td>
            <td th:text="${entry.candidate.firstname}"></td>
            <td th:text="${entry.candidate.lastname}"></td>

            <td class="view_form_button">
                <!--Fiecare href se expandeaza intr-un "candidates_whatever?cnp=cnpul_candidatului"
                    Aparent e relevant @ si nu $.
                -->
                <a th:href="@{/candidates_view_form(cnp=${entry.candidate.cnp})}">Formular</a>
                <a th:href="@{/candidates_accept(cnp=${entry.candidate.cnp})}">Accepta</a>
                <a th:href="@{/candidates_reject(cnp=${entry.candidate.cnp})}">Refuza</a>
            </td>
        </tr>
    </table>
</body>
</html>