<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Teachers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/profesori.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:700,400|Roboto:400,100,300,500,900'
          rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.dform-1.1.0.min.js"></script>
    <meta charset="UTF-8">
</head>
<body bgcolor="#e6e6e6">
<ul th:replace="frag_sidebar :: sidebar_admin ('/classroom_table')"></ul>

<!-- <div id="section-dash" class="tab-content" style="margin-left:20%;padding:1px 16px;height:1000px;">
 <input type="text" name="search" placeholder="Search">
 -->

<div class="main">
    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2>Classroom:</h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <br>
            <table>
                <tr th:each="entry : ${classrooms}">
                    <td th:text="${entry.id}"></td>
                    <td th:text="${entry.locatie}"></td>
                    <td th:number="${entry.nr_locuri}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br><br>

</body>
</html>