<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/classroom.css" type="text/css" media="screen">

</head>
<body>

<ul>

<div class="logo"></div>

 <!-- <li><div class="avatar"></div><h3>John Smith</h3></li> -->

<div class="content">
    <img src="../images/avatar.png" width="25%" alt="avatar">
    <h2>Administrator</h2>
</div>​

  <li><a href="#dash">Dashboard</a></li>
  <li><a href="#settings">Settings</a></li>
  <li><a href="#form">View Applications</a></li>
  <li><a href="#form">Teachers</a></li>
  <li><a class="active" href="#form">Classrooms</a></li>
  <li><a href="#disconn">Disconnect</a></li>
  <br>
  <hr>
      <p id="contact">
        Contact<br>
        Adress:<br>
        Facultatea de informatica,<br>
        Universitatea "Al. I. Cuza",<br>
        General Berthelot, 16, IASI <br>
        700483, ROMANIA <br>
        Phone: +40 232 201090<br>
        E-mail: secretariat@info.uaic.ro
      	</p>
</ul>

<!-- <div id="section-dash" class="tab-content" style="margin-left:20%;padding:1px 16px;height:1000px;">
 <input type="text" name="search" placeholder="Search">
 -->

<div class="main">


  <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Classroom:</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <br>
          <label for="cod">Cod sala:<br>
    			</label> <input type="text" name="cod" id="cod" value="" />
    			<br>
    			<label for="etaj">Etaj:<br>
    			</label> <input type="text" name="etaj" id="etaj" value="" />
    			<br>
    			<label for="nr">Numar locuri:<br>
    			</label> <input type="number" name="nr" id="nr" value="" />
    			<br>

          <input type="submit" value="Adaugare clasa">
		        <input type="submit" value="Stergere clasa">

        </div>
      </div>

   </div>


</body>
</html>
