<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/classroom.css" type="text/css" media="screen">

</head>
<body>

<ul th:replace="frag_sidebar :: sidebar_admin ('/classroom')">
</ul>

<!-- <div id="section-dash" class="tab-content" style="margin-left:20%;padding:1px 16px;height:1000px;">
 <input type="text" name="search" placeholder="Search">
 -->

<div class="main">


  <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Classroom:</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <br>
            <form th:action="@{/classroom_operations}" method="get">
          <label for="cod">ID:<br>
    			</label> <input type="text" name="id" id="cod" value="" />
    			<br>
    			<label for="etaj">Locatie:<br>
    			</label> <input type="text" name="locatie" id="etaj" value="" />
    			<br>
    			<label for="nr">Numar locuri:<br>
    			</label> <input type="text" name="nr_locuri" id="nr" value="" />
    			<br>

                <input type="submit" name="button" value="Adaugare clasa">
		        <input type="submit" name="button" value="Stergere clasa">
                <input type="submit" name="button" value="Vizualizare sali">
            </form>
        </div>
      </div>

   </div>


</body>
</html>
