<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/dashboard.css" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:700,400|Roboto:400,100,300,500,900"
    rel='stylesheet' type='text/css'/>
</head>
<body>

<ul>

<div class="logo"></div>

 <!-- <li><div class="avatar"></div><h3>John Smith</h3></li> -->

<div class="content">
    <img src="../images/avatar.png" width="25%" alt="avatar">
    <h2>John Smith</h2>
</div>​



  <li><a class="active" href="dashboard.html">Dashboard</a></li>
  <li><a href="form.html">Application Form</a></li>
  <li><a href="/disconnect">Disconnect</a></li>

  <hr>


  <p id="contact">
    Contact<br>
    Adress:<br>
    Facultatea de informatica,<br>
    Universitatea "Al. I. Cuza",<br>
    General Berthelot, 16, IASI <br>
    700483, ROMANIA <br>
    Phone: +40 232 201090<br>
    E-mail: secretariat@info.uaic.ro
    </p>

</ul>



<!-- <div id="section-dash" class="tab-content" style="margin-left:20%;padding:1px 16px;height:1000px;">
 <input type="text" name="search" placeholder="Search">
 -->

<div class="main">
<!--
  <div id="header">

       <input type="text" name="search" value="Search..">
   </div>
-->
   <div class="widget-box sample-widget2">
         <div class="widget-header">
           <h2>Statusul aplicatiei:</h2>
        <!--   <i class="fa fa-cog"></i>  -->
         </div>
         <div class="widget-content">
           <h3 th:text="${status_aplicatie}"></h3>
         </div>
       </div>


           <div class="widget-box sample-widget2">
                 <div class="widget-header">
                   <h2>Timp ramas pana la examen:</h2>
               <!--     <i class="fa fa-cog"></i> -->
                 </div>
                 <div class="widget-content">
                   <h3> 25 de zile</h3>
                 </div>
               </div>

               <div class="widget-box sample-widget2">
                     <div class="widget-header">
                       <h2>Timp ramas pana la rezultate:</h2>
                 <!--      <i class="fa fa-cog"></i>  -->
                     </div>
                     <div class="widget-content">
                       <h3> 30 de zile</h3>
                     </div>
                   </div>

                   <div class="widget-box sample-widget2">
                         <div class="widget-header">
                           <h2>Numar persoane inscrise</h2>
                     <!--      <i class="fa fa-cog"></i>   -->
                         </div>
                         <div class="widget-content">
                           <h3 th:text="${nr_aplicatii_depuse}"></h3>
                         </div>
                       </div>


 <div class="widget-box sample-widget">
       <div class="widget-header">
         <h2>Evolutie</h2>
         <i class="fa fa-cog"></i>
       </div>
       <div class="widget-content">
         <img src="../images/info.png" width="50%" alt="info" >
       </div>
     </div>



  <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Anunturi</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <p>Inscrierile pentru licenta s-au terminat. S-au inscris 291 candidati.</p>
          <p>Examenul de admitere va avea loc in data de 29 Iunie 2017.</p>
          <p>A aparut lista cu repartizari pe sali. O poti verifica pe https://docs.google.com/document/u/0/.</p>
          <p>Actele necesare pentru inscriere la admitere se gasesc aici: https://docs.google.com/document.</p>
          <p>S-au deschis inscrierile pentru licenta 2017. Ai timp sa te inscrii pana pe 17 iunie.</p>
        </div>
      </div>

   </div>


</body>
</html>
