<html>
<head>
    <title>Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.dform-1.1.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../style/form.css">

</head>
<body>


    <div class="container">
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active">
                        <a href="#step-1">
                            <h4 class="list-group-item-heading">Pas 1</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-2">
                            <h4 class="list-group-item-heading">Pas 2</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-3">
                            <h4 class="list-group-item-heading">Pas 3</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-4">
                            <h4 class="list-group-item-heading">Pas 4</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-5">
                            <h4 class="list-group-item-heading">Pas 5</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-6">
                            <h4 class="list-group-item-heading">Pas 6</h4>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-7">
                            <h4 class="list-group-item-heading">Pas 7</h4>
                        </a>
                    </li>
                     <li class="disabled">
                        <a href="#step-8">
                            <h4 class="list-group-item-heading">Pas 8</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h3>Date personale ale candidatului</h3>
                    <!-- <form> -->
                    <form id="myform"></form>

                    <!-- </form> -->
                    <button id="activate-step-2" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 2</h1>

                    
                         <form id="myform2"></form>

                    <button id="activate-step-3" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 3</h1>

                    <form id="myform3"></form>

                    <button id="activate-step-4" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row setup-content" id="step-4">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 4</h1>

                    <form id="myform4"></form>
                     <button id="activate-step-5" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row setup-content" id="step-5">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 5</h1>

                    <form id="myform5"></form>
                    <button id="activate-step-6" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
 
    </div>
    </div>
     <div class="container">

        <div class="row setup-content" id="step-6">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h3 class="text-center"> Condiţii de încheiere a contractului</h3>
                    <form id="myform6"></form>
                    <button id="activate-step-7" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
     <div class="container">

        <div class="row setup-content" id="step-7">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 7</h1>

                    <form id="myform7"></form>
                    <button id="activate-step-8" class="btn btn-primary btn-md">Pasul urmator</button>
                </div>
            </div>
        </div>
    </div>
     <div class="container">

        <div class="row setup-content" id="step-8">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h1 class="text-center"> STEP 8</h1>

                    <form id="myform8"></form>
                    <button id="finish-button" class="btn btn-primary btn-md">Submit form</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../JS/form.js"></script>
</body>
</html>