<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments: Sidebar</title>
</head>
<body>

<ul class="sidebar" th:fragment="sidebar_candidates (page)">

    <li>
        <div class="logo"></div>
    </li>
    <li>
        <div class="content">
            <!--/*@thymesVar id="user_name" type="String"*/-->
            <h2 id="user_name" th:text="${user_name}"></h2>
        </div>​
    </li>


    <li><a th:classappend="${page == '/dashboard'}? active : ''" href="/dashboard">Dashboard</a></li>
    <li><a href="/preform">Application Form</a></li>
    <li><a href="/disconnect">Disconnect</a></li>
    <li><a th:classappend="${page == '/notifications'}? active : ''"  href="/notifications">Notifications [<span th:text="${unread_notifications}"></span>]</a></li>

    <li><hr></li>

    <li>
        <p id="contact">
            Contact<br>
            Adress:<br>
            Facultatea de informatica,<br>
            Universitatea "Al. I. Cuza",<br>
            General Berthelot, 16, IASI <br>
            700483, ROMANIA <br>
            Phone: +40 232 201090<br>
            E-mail: secretariat@info.uaic.ro
        </p>
    </li>
</ul>

<ul class="sidebar" th:fragment="sidebar_admin (page)">

    <li><div class="logo"></div>
    </li>

    <li class="content">
        <h3>Administrator</h3>
    </li>​

    <li><a th:classappend="${page == '/dashboard_admin'}? active : ''" href="/dashboard_admin">Dashboard</a></li>
    <li id="news"><a th:classappend="${page == '/news'}? active : ''" href="#news">Add News</a></li>
    <li><a th:classappend="${page == '/candidates_admin'}? active : ''" href="/candidates_admin">View Applications</a></li>
    <li><a th:classappend="${page == '/teachers'}? active : ''" href="/teachers">Teachers</a></li>
    <li><a th:classappend="${page == '/classroom'}? active : ''" href="/classroom">Classrooms</a></li>
    <li><a th:classappend="${page == '/marks'}? active : ''" href="/marks">Add marks</a></li>
    <li><a href="/disconnect">Disconnect</a></li>
    <li>    <hr>
    </li>

    <li>    <p id="contact">
        Contact<br>
        <b>Adress:</b><br>
        Facultatea de informatica,<br>
        Universitatea "Al. I. Cuza",<br>
        General Berthelot, 16, IASI <br>
        700483, ROMANIA <br>
        <b>Phone:</b> +40 232 201090<br>
        <b>E-mail:</b> secretariat@info.uaic.ro
    </p></li>
</ul>


</body>
</html>