<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/classroom.css" type="text/css" media="screen">

</head>
<body>

<ul th:replace="frag_sidebar :: sidebar_admin ('/marks')"></ul>

<div class="main">


    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2>Marks:</h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <br>
            <form action="/marks" method="post">
                <label for="cod">CNP: <br>
                </label> <input type="text" name="cnp" id="cod" value="" />
                <br>
                <label for="etaj">Tip examen: <br>
                </label> <input type="text" name="examen" id="etaj" value="" />
                <br>
                <label for="nr">Nota: <br>
                </label> <input type="text" name="mark" id="nr" value="" />
                <br>
                <input type="submit" name="button" value="Adaugare nota">
            </form>
        </div>
    </div>

</div>


</body>
</html>
