<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/classroom.css" type="text/css" media="screen">

</head>
<body>

<ul>

    <div class="logo"></div>

    <div class="content">
        <h2>Administrator</h2>
    </div>​

    <li><a href="dashboard_admin">Dashboard</a></li>
    <li id="news"><a href="#news">Add News</a></li>
    <li><a href="candidates_admin">View Applications</a></li>
    <li><a href="teachers">Teachers</a></li>
    <li><a class="active" href="classroom">Classrooms</a></li>
    <li><a href="/marks">Add marks</a></li>
    <li><a href="/disconnect">Disconnect</a></li>
    <br>
    <hr>
    <p id="contact">
        Contact<br>
        Adress:<br>
        Facultatea de informatica,<br>
        Universitatea "Al. I. Cuza",<br>
        General Berthelot, 16, IASI <br>
        700483, ROMANIA <br>
        Phone: +40 232 201090<br>
        E-mail: secretariat@info.uaic.ro
    </p>
</ul>

<div class="main">


    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2>Marks:</h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <br>
            <form action="/mark" method="get">
                <label for="cod">CNP: <br>
                </label> <input type="text" name="cnp" id="cod" value="" />
                <br>
                <label for="etaj">Tip examen: <br>
                </label> <input type="text" name="examen" id="etaj" value="" />
                <br>
                <label for="nr">Nota: <br>
                </label> <input type="text" name="mark" id="nr" value="" />
                <br>
                <input type="submit" name="button" value="Adaugare nota">
            </form>
        </div>
    </div>

</div>


</body>
</html>
