<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=/style/dashboard.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:700,400|Roboto:400,100,300,500,900"
          rel='stylesheet' type='text/css'/>
</head>
<body>

<ul th:replace="frag_sidebar :: sidebar_candidates ('/notifications')"></ul>

<div class="main">
    <div class="widget-box sample-widget">
        <h2>Notificarile tale:</h2>
        <ul th::if="${notifications.size() != 0}">
            <th:block th:each="notification : ${notifications}">
                <li><p th:text="${notification.getMessage()}"></p></li>
            </th:block>
        </ul>
        <h4 th:if="${notifications.size() == 0}">Nu ai notificari.</h4>
    </div>

</div>


</body>
</html>
