<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.dform-1.1.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Tabel Candidati</title>
</head>
<body>
    <script src="../JS/get_candidati.js"></script>
    <script>
       /* $(document).ready(function () {
            $.getJSON('http://localhost:9999/model/candidati_formuri').done(function(data) {
                console.log(data)
            })
        }); */
    </script>
</body>
</html>