<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.dform-1.1.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Tabel Profesori</title>
</head>
<body>
<script src="../JS/get_candidati.js"></script>
<h1 th:text="${message}"></h1>

<c:if test="${not empty lists}">

    <ul>
        <c:forEach var="listValue" items="${lists}">
            <li>${listValue}</li>
        </c:forEach>
    </ul>

    alta incercare....

    <ul>
        <c:forEach var="listValue2" items="${lists2}">
            <h1 th:text="${listValue2}"></h1>
        </c:forEach>
    </ul>
</c:if>

</body>
</html>