<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Teachers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/profesori.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:700,400|Roboto:400,100,300,500,900'
          rel='stylesheet' type='text/css'>
</head>
<body bgcolor="#e6e6e6">
<ul>

    <div class="logo"></div>

    <!-- <li><div class="avatar"></div><h3>John Smith</h3></li> -->

    <div class="content">

        <h3>Administrator</h3>
    </div>​



    <li><a href="dashboard_admin">Dashboard</a></li>
    <li id="news"><a href="#news">Add News</a></li>
    <li><a href="candidates_admin">View Applications</a></li>
    <li><a class="active" href="teachers">Teachers</a></li>
    <li><a href="classroom">Classrooms</a></li>
    <li><a href="/disconnect">Disconnect</a></li>
    <br>
    <hr>
    <br><br><br><br><br>
    <br><br><br><br><br>

    <p id="contact">
        Contact<br>
        Adress:<br>
        Facultatea de informatica,<br>
        Universitatea "Al. I. Cuza",<br>
        General Berthelot, 16, IASI <br>
        700483, ROMANIA <br>
        Phone: +40 232 201090<br>
        E-mail: secretariat@info.uaic.ro
    </p>
</ul>

<!-- <div id="section-dash" class="tab-content" style="margin-left:20%;padding:1px 16px;height:1000px;">
 <input type="text" name="search" placeholder="Search">
 -->

<div class="main">
    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2>Teachers: </h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <br>
            <form th:action="@{/teachers_operation}" method="get">
                <label for="cod">Nume:<br>
                </label> <input type="text" name="nume" id="cod" value="" />
                <br><br>
                <label for="etaj">Prenume:<br>
                </label> <input type="text" name="prenume" id="etaj" value="" />
                <br><br>
                <label for="nr">CNP:<br>
                </label> <input type="text" name="pcnp" id="nr" value="" />
                <br><br>
                <input type="submit" name="button" value="add">
                <input type="submit" name="button" value="delete">
                <input type="submit" name="button" value="see teachers">
            </form>
        </div>
    </div>
</div>

<br><br>

</body>
</html>