body {
    /*margin-top: 75px; *//* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('../images/programming.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

button {
    background-color: white;
    /*color: rgba(62, 156, 242, 0.5);*/
    color: #2f5e85;
    font-weight: bold;
    padding: 10px 40px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.right {
	float: right !important;
}

header {
	min-height:100vh;
	background: url('../images/programming.jpeg') no-repeat center center;
	background-size: 100%;
	background-color: #EDEFF3;
	padding-top: 25%;
	/*background: rgba(62, 156, 242, 0.1);*/
}
h1, h2 {
	color: white;
}

#beneficii {
	padding-top: 75px;
	background-color: #EDEFF3;
	min-height: 640px;
}

#beneficii h2 {
	color: #20547E;
	line-height: 1.7;
}

#beneficii h1 {
	color: #20547E;
	font-size: 3em;
}

#impresii {
	padding-top: 75px;
	background-color: #3388CB;
	min-height: 640px;
}

#impresii h4 {
	color: white;
}

#impresii h1 {
	color: white;
	font-size: 3em;
}
#impresii h4 {
	text-align: justify;
}

#contact {
	background-color: #EDEFF3;
	min-height: 640px;
}

#padded {
	padding: 10%;
}

#right {
	float: right;
}

#first {
	margin-top: 5%;
	margin-bottom: 7%;
}

#contactImg {
	height: 640px;
	float: left;
}

#contact h2 {
	color: black;
}

#contact h1 {
	color: #20547E;
	font-size: 3em;
}

.detalii {
	color: black;
	float: left;
	padding-top: 75px;
	padding-left: 75px;

}

footer {
  background-color: #3388CB;
  color: white;
 }

 footer a {
 	color: white;
 }

 .social img {
 	width: 50px;
 	margin-right: 20px;
 }

 .social {
 	padding: 20px 20px 20px 0; 
 }